:root {
    --color-green: yellowgreen;
    --color-purple: #6c4fbb;
}

* {
    margin:0;
    padding: 0;
    border: 0;
}
body {
    background: rgb(19, 19, 19);
    font-family: 'Roboto', sans-serif;
}
header div {
    text-align: center;
    background: var(--color-purple);
    padding: 30px;
}
.links {
    text-align: center;
    padding: 20px;
}

.links a {
    margin: 0px 30px;
    font-size: 18px;
    line-height: 28px;
    margin: 0 30px;
    color: white;
    text-decoration: none;
  }

.links a:hover {
    color: var(--color-green);
    transition: 300ms;
}

#imagecontent {
    text-align: center;
} 

#imagecontent img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 40px;
}
#imagecontent h1 {
    color: #FFF;
    font-size: 80px;
    line-height: 90px;
}

#imagecontent h3 {
    color: #FFF;
    font-size: 20px;
    line-height: 30px;
}
