* {
    margin:0;
    padding: 0;
    border: 0;
}
body {
    background: rgb(19, 19, 19);
    font-family: 'Roboto', sans-serif;
}
header div {
    text-align: center;
    background: rgba(78, 2, 219, 0.637);
    padding: 30px;
}
header div a {
    margin: 0px 30px;
    font-size: 18px;
    line-height: 28px;
    margin: 0 30px;
    color: white;
    text-decoration: none;
  }

header div a:hover {
    color: yellowgreen;
    transition: 300ms;
}
  